<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Submit Confirmation</title>
    <link rel="stylesheet" href="css/aman/tsc.css">
</head>
<body>
    <div class="grid">
        <div class="first">
            <div class="infosection">
                <div class="leftinfo">
                  <div class="profile"><span class="initials">IA</span></div>
                  <span class="otherinfo">Name :<span class="bgwhite"> Isha Vishwakarma</span></span>
                </div>
                <div class="language">English</div>
                <span class="otherinfo1">Exam Name :<span class="bgwhite"> JEE Advanced</span></span>
                <span class="otherinfo1">Subject Name :<span class="bgwhite"> Chemistry</span></span>
                <span class="otherinfo1">Total Marks :<span class="bgwhite"> 300</span></span>
              </div>
        </div>
        <div class="second">
            <div class="examsummary">Exam Summary</div>
            <div class="table">
                <table class="styled-table">
                    <thead>
                        <tr style="border-bottom: 1px solid black;">
                            <th class="bgwhite" style="color: black; width: 40vw;">Number Of Question</th>
                            <th class="bgwhite" style="color: black; width: 20vw;"><%=total%></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bgwhite">Answered</td>
                            <td class="bgwhite"><%=tattempted%></td>
                        </tr>
                        <tr>
                            <td class="bgwhite">Not Answered</td>
                            <td class="bgwhite"><%=notanswered%></td>
                        </tr>
                        <tr>
                            <td class="bgwhite">Marked For Review</td>
                            <td class="bgwhite">10</td>
                        </tr>
                        <tr>
                            <td class="bgwhite">Answered and Marked For Review (will be considered for evaluation) </td>
                            <td class="bgwhite">2</td>
                        </tr>
                        <tr>
                            <td class="bgwhite">Not Visited</td>
                            <td class="bgwhite"><%=notvisited%></td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="third">
            <div class="statement">Are You Sure You Want to Submit For Final Marking ?</div>
            <div class="statementcontinue">No Changes will be allowed after Submission.</div>
            <div class="buttons">
                <form action="<%=link%>" method="post"><button class="YesButton" >Yes</button></form>
                <button class="NoButton">No</button>
            </div>
        </div>
    </div>
</body>
</html>