<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sam/testinfo.css">
</head>

<body>
    <div class="container">
        <div class="box">
            
            <form action="<%=path%>" method="post">
                <input type="text" placeholder="Question <%=qno%>" name="question" required class="form-control data question" autocomplete="off">
                <input type="text" placeholder="Option 1" name="opt1" required class="form-control data" autocomplete="off">
                <input type="text" placeholder="Option 2" name="opt2" required class="form-control data" autocomplete="off" >
                <input type="text" placeholder="Option 3" name="opt3" required class="form-control data" autocomplete="off" >
                <input type="text" placeholder="Option 4" name="opt4" required class="form-control data" autocomplete="off">
                <input type="text" placeholder="Correct option" name="correct_option" required
                    class="form-control data" autocomplete="off">
                <div class="flex">
                    <input type="text" name="qno" value="<%=qno%>" hidden>
                    <input type="submit" class="form-control btn-add" value="+" >
                </div>
            </form>
            <form action="<%=path2%>" method="post">
                <input type="text" name="qno" value="<%=qno%>" hidden>
                <input type="submit" class="form-control btn-submit" value="Create Test" >
            </form>
        </div>
    </div>
</body>

</html>